<div class="sidebar">

    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        PROJECTS
    </a>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <a href="/project1">Dispersal Wear</a>
            <a href="/project2">Concrete + Knit + Skin</a>
            <a href="/project3">Concrete + Knit</a>
            <a href="/project4">Set Design</a>
            <a href="/project5">Beach Towels</a>
            <a href="/project6">Tyre</a>
            <a href="/project7">Artefacts of a Memory</a>
        </div>
    </div>
    <!-- <a href="/about">ABOUT</a> -->
    <a class="contact-link" href="/contact">CONTACT</a>
</div>