<%- include("partials/header"); -%>

<%- include("partials/sidebar"); -%>

<div class="content">
    <h4>For general enquiries contact:</h4>
    <br>
    <h4>Benjamin Wigmore</h4>
    <img class="instagram" src="images/instagram.png" alt="Instagram">
    <a class="contact" href="https://www.instagram.com/benj_wig/" target=”_blank” style="color: #444;">benj_wig</a>
</div>

<%- include("partials/footer"); -%>