<%- include("partials/header"); -%>

<div class="content center-mobile">
    <h4>For general enquiries contact:</h4>
    <br>
    <h4 class="contact">Benjamin Wigmore</h4>
    <h4 class="contact">info@benjaminwigmore.com</h4>
</div>

<%- include("partials/footer"); -%>