<%- include("partials/header"); -%>

<div class="content center-mobile">
    <h3>BENJAMIN WIGMORE</h3>
    <h4>For general enquiries contact:</h4>
    <h4>info@benjaminwigmore.com</h4>
</div>

<%- include("partials/footer"); -%>