<%- include("partials/header"); -%>

<%- include("partials/sidebar"); -%>

<div class="content">
    <h4>For general enquiries contact:</h4>
    <br>
    <img class="instagram" src="images/instagram.png" alt="Instagram">
    <a class="contact" href="https://www.instagram.com/benjamin_wigmore/" target=”_blank” style="color: #444;">Benjamin Wigmore</a>    
</div>

<%- include("partials/footer"); -%>